# 2차원 배열

In [5]:
arr1 = [
    [1,3,5],   #0번행
    [3,5,7],   #1번행
    [5,7,9]    #2번행
]
arr1[0], arr1[1], arr1[2]

([1, 3, 5], [3, 5, 7], [5, 7, 9])

In [9]:
arr1[0][1] = 99
arr1

[[1, 99, 5], [3, 5, 7], [5, 7, 9]]

In [12]:
a = [1,2,3,4]
a[1] = [1,2,3]   #변수 삽입
print(a)
a[1:2] = [4,5,6] #범위 삽입
print(a)

[1, [1, 2, 3], 3, 4]
[1, 4, 5, 6, 3, 4]

In [70]:
#로또번호 생성

import random as rd
lotto = []                 #빈 리스트 생성
a = 0
for a in range(6):
    num = rd.randint(1,45)
    while(num in lotto):
        num = rd.randint(1,45)
    lotto.append(num)
        
lotto.sort(reverse=True)  #역순 출력
print(lotto)

lotto.sort()
print(lotto)

[42, 38, 23, 20, 18, 6]
[6, 18, 20, 23, 38, 42]

In [71]:
print(lotto.pop(2))  #2번째 값 삭제
print(lotto)

lotto.remove(42)     #해당 값을 삭제, 값 반환하지 않음
print(lotto)

20
[6, 18, 23, 38, 42]
[6, 18, 23, 38]

In [72]:
a = [1,2,3]
a.insert(0,4)    #0번째 자리 숫자를 밀어내고 4를 넣음
print(a)

[4, 1, 2, 3]

# 연습문제

In [82]:
a = [1,3,5,4,2]
print(a[::-1])   #원본을 수정하지 않음
print(a)

a.reverse()
print(a)

[2, 4, 5, 3, 1]
[1, 3, 5, 4, 2]
[2, 4, 5, 3, 1]

In [97]:
a = ['Python', 'is', 'too', 'interesting']
str = ''
for i in a:
    str = str + i + ' '
print(str)

str1 = ' '.join(a)
print(str1)20

Python is too interesting
Python is too interesting

In [102]:
arr = [1,2,3]
# ''.join(arr) : 오류 (숫자는 문자열로 join할 수 없음)
# ''.join(str(arr)) : 이거도 오류남
res = 0

print(arr)

[1, 2, 3]

In [104]:
list('love')

['l', 'o', 'v', 'e']

# Set

In [111]:
참석자 = set()
day1 = {'홍', '김', '이'}
참석자.update(day1)
day2 = {'박', '홍', '최'}
참석자.update(day2)
print(참석자)

{'김', '최', '이', '홍', '박'}

In [116]:
#참석자.remove('최')
print(참석자)
print(참석자 - day1)  #차집합
print(참석자|day1)    #합집합
print(day1&day2)      #교집합

{'김', '이', '홍', '박'}
{'박'}
{'김', '이', '박', '홍'}
{'홍'}

In [120]:
#로또번호 생성

import random as rd
lotto = set()
while(len(lotto)<6):
    lotto.add(rd.randint(1,45))
print(lotto)

{5, 8, 10, 12, 13, 28}

# 연습문제

In [ ]:
a=[1,1,2,2,3,4,4,5,6,7,2]
a = list(set(a))
a.sort(reverse=True)
print(a)

# Dictionary

In [146]:
names = ['홍', '김', '이']
scores = [70, 90, 80]
score_dict = {'홍':70, '김':90, '이':80, '이':60}
score_dict

{'홍': 70, '김': 90, '이': 60}

In [148]:
print(score_dict.keys())
print(score_dict.values())
print(score_dict.items())

dict_keys(['홍', '김', '이'])
dict_values([70, 90, 60])
dict_items([('홍', 70), ('김', 90), ('이', 60)])

In [155]:
v = list(score_dict.values())
avg = sum(v) / len(v)  #평균
avg

73.33333333333333

In [157]:
'홍' in score_dict.keys()

True

# 연습문제

In [162]:
A = {'a':90, 'B':80, 'C':70}
print(A.pop('B'))
print(A)

80
{'a': 90, 'C': 70}

# IF문

In [168]:
gender = input('성별을 입력하세요: ')
if(gender == 'male'):
    print('남성입니다.')
else:
    print('여성입니다.')

성별을 입력하세요: male
남성입니다.

# 연습문제

In [186]:
str = input('키와 몸무게를 입력하세요: ')
h,w = str.split(',')

bmi = int(w) + 100 - int(h)
print(f'비만 수치는 {bmi}입니다.')
if bmi > 0 :
    print('당신은 비만입니다.')
#else:
#    print('당신은 비만이 아닙니다.')

키와 몸무게를 입력하세요: 155,60
비만 수치는 5입니다.
당신은 비만입니다.

In [272]:
#학생 점수 판정

score = int(input('점수를 입력하세요: '))

if score >= 90 :
    print('A')
elif score >= 80 :
    print('B')
elif score >= 70 :
    print('C')
else:
    print('D')

점수를 입력하세요: 80
B

In [38]:
score = 82

grade = 'A' if score >= 90 else \
        'B' if score >= 80 else \
        'C' if score >= 70 else \
        'D'

print(grade)

B

# 숫자맞추기 게임

In [280]:
# 컴 1~100 난수 생성
# 시도한 횟수가 10회 넘으면 메세지(당신은 바보입니까?) 출력

import random as rd

com = rd.randint(1,100)
count = 1

In [260]:
user = 50
print(f'{count}번째 시도')
if count > 10:
    print('당신은 바보입니까?')
    
if com == user:
    print('정답입니다!')
    count = 0
elif com < user:
    print('낮춰주세요.')
    count += 1
else:
    print('높혀주세요.')
    count += 1

11번째 시도:
당신은 바보입니까?
낮춰주세요.

In [267]:
#while문 활용

user = int(input(f'[{count}번째 시도]\n정답을 입력하세요: '))
while user != com:
    count += 1
    
    if count > 10:
        print('당신은 바보입니까?')
        
    if com < user:
        print('낮춰주세요.')
    else:
        print('높혀주세요.')
    print('-------------------------')
    user = int(input(f'[{count}번째 시도]\n정답을 입력하세요(1~100): '))
    
print('정답입니다!')
count = 0

[1번째 시도]
정답을 입력하세요: 80
낮춰주세요.
-------------------------
[2번째 시도]
정답을 입력하세요: 50
낮춰주세요.
-------------------------
[3번째 시도]
정답을 입력하세요: 30
낮춰주세요.
-------------------------
[4번째 시도]
정답을 입력하세요: 10
낮춰주세요.
-------------------------
[5번째 시도]
정답을 입력하세요: 5
낮춰주세요.
-------------------------
[6번째 시도]
정답을 입력하세요: 3
낮춰주세요.
-------------------------
[7번째 시도]
정답을 입력하세요: 2
정답입니다!

In [301]:
#for문 활용

user = int(input('1~100 사이의 숫자를 입력하세요: '))
res = False

for cnt in range(1, 10):      
    if com < user:
        print('낮춰주세요.')
    elif com == user:
        print('정답입니다!')
        res = True
        break
    else:
        print('높혀주세요.')
    print('-------------------------------------')
    user = int(input('1~100 사이의 숫자를 입력하세요: '))

if res == False:
    print('당신은 바보입니까?')

1~100 사이의 숫자를 입력하세요: 50
낮춰주세요.
-------------------------------------
1~100 사이의 숫자를 입력하세요: 33
정답입니다!

In [282]:
#강사님 풀이
#컴  1~100 난수 생성

#시도한 횟수가 10회넘으면

#메시지: 당신은 바보입니까?
import random
com = random.randint(1,100)
try_count = 0 # 시도횟수

correct = False #답 맞춤여부

#반복조건. 숫자가 다른경우
user = 0
while user != com:
    try_count += 1 # try_count = try_count + 1
    user = input("1~100사이 숫자 입력 ")
    user = int(user)
    print( f"{try_count}번째 시도")
    if com == user:
        correct = True #정답
        print("추카추카 정답입니다!!")
    elif com < user:
        print("낮춰주세요")
    else:
        print("높여주세요")
    if correct == False and try_count > 10:
        print("당신은 바보입니까?")

1번째 시도
높여주세요

# While문

In [238]:
sum = 0
i = 0
while i < 100:
    if(i%2 == 0):
        sum += i
    i += 1
print(sum)

2450

In [239]:
i = 1
j = 0
while j < 5:
    while i < 6:
        print('*' * i)
        i += 1
    j += 1

*
**
***
****
*****

# for문

In [15]:
scores = [70, 80, 90]
#총합 계산
tot = 0

for i in scores :
    tot += i
    
print(f'총점: {tot}, 평균: {tot/len(scores)}')

총점: 240, 평균: 80.0

In [22]:
cnt = 0
for i in range(10):
    if(i == 1):
        continue
    if(i == 7):
        break
    cnt += i
print(cnt) #20

20

In [ ]:
for i in range(10):
    pass    # 아무것도 하지 않는 코드

# ★Comprehensions

In [28]:
s = [x**2 for x in range(1,10)]
v = [2**x for x in range(10)]
m = [x for x in s if x%2 == 0]

print(s)
print(v)
print(m)

[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]
[4, 16, 36, 64]

In [30]:
scores = [70,80,90]
scores = [str(s) for s in scores]
'-'.join(scores)    # 그냥 실행하게 되면 오류발생

'70-80-90'

In [44]:
scores = [70,80,90]
scores = ['A' if s >= 90 else \
          'B' if s >= 80 else \
          'C' if s >= 70 else \
          'D' for s in scores ]
scores

['C', 'B', 'A']

In [35]:
scores = [70,80,90]
print([True if s < 80 else False for s in scores])
print([s/10 for s in scores])

[True, False, False]
[7.0, 8.0, 9.0]

In [57]:
res = [i for i in range(1,31) if i % 6 == 0]
res

[6, 12, 18, 24, 30]

In [88]:
# set

res = {i for i in range(1,31) if i % 6 == 0}
res

{6, 12, 18, 24, 30}

In [87]:
arr = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

squared_arr = [[n**2 for n in i] for i in arr]

print(squared_arr)

[[1, 4, 9], [16, 25, 36], [49, 64, 81]]

In [91]:
t = tuple(n for n in range(10))
t

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [102]:
from string import ascii_lowercase as al

dic1 = {c : n for c,n in zip(al, range(1,27))}
print(dic1)

print('')

print(dict(zip(al, range(1, len(al)+1))))

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6, 'g': 7, 'h': 8, 'i': 9, 'j': 10, 'k': 11, 'l': 12, 'm': 13, 'n': 14, 'o': 15, 'p': 16, 'q': 17, 'r': 18, 's': 19, 't': 20, 'u': 21, 'v': 22, 'w': 23, 'x': 24, 'y': 25, 'z': 26}

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6, 'g': 7, 'h': 8, 'i': 9, 'j': 10, 'k': 11, 'l': 12, 'm': 13, 'n': 14, 'o': 15, 'p': 16, 'q': 17, 'r': 18, 's': 19, 't': 20, 'u': 21, 'v': 22, 'w': 23, 'x': 24, 'y': 25, 'z': 26}

# 연습문제

In [241]:
result = [90, 35, 68, 44, 81]
count = 1
for i in result:
    if i >= 60:
        print(f'{count}번 학생은 합격입니다.')
    else:
        print(f'{count}번 학생은 불합격입니다.')
    count += 1

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [304]:
res = 0                    # sum으로 변수 설정하면 x

for i in range(1, 101):   # 1~100까지의 합
    res += i

print(res)

5050

In [2]:
sum([1,2,3])

# 위의 변수를 sum으로 설정할 경우, 해당 함수를 사용할 수 없음
# 'int' object is not callable 이라는 에러메세지 확인가능
# 해결방법 : Kernel - restart

6

In [11]:
test2D = [[1,2,3],[4,5,6],[7,8,9,10]]
for i in test2D :
    for j in i:
        print(j, end=" ")

1 2 3 4 5 6 7 8 9 10

In [14]:
#range함수 활용

test2D = [[1,2,3],[4,5,6],[7,8,9,10]]
for i in range(len(test2D)) :
    for j in range(len(test2D[i])):
        print(test2D[i][j], end=" ")

1 2 3 4 5 6 7 8 9 10

In [3]:
#구구단 예제

for num in range(2,10):
    print('')
    #print(f'\n[{num}단]')
    for i in range(1, 10):
        #print(num*i, end=' ')
        print('{:2}'.format(num*i), end=' ')
        i += 1
    num += 1

 2  4  6  8 10 12 14 16 18
 3  6  9 12 15 18 21 24 27
 4  8 12 16 20 24 28 32 36
 5 10 15 20 25 30 35 40 45
 6 12 18 24 30 36 42 48 54
 7 14 21 28 35 42 49 56 63
 8 16 24 32 40 48 56 64 72
 9 18 27 36 45 54 63 72 81

In [9]:
dan = 3
for i in range(1,10):
    print(f'{dan} * {i} = {dan*i}')

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [81]:
for dan in range(2,10):
    for i in range(1,10):
        print(f'{dan} * {i} = {dan*i}')

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

# 가위바위보 예제

In [89]:
# 컴 1,2,3 난수로 생성 -> 가위, 바위, 보 출력
# 단, if문 사용금지

# 배열 활용

import random

arr = ['','가위', '바위', '보']
com = random.randint(1,3)
print(com)
print(arr[com])

2
바위

In [80]:
# dictionary 활용

import random

arr = {1:'가위', 2:'바위', 3:'보'}
com = random.randint(1,3)
print(com)
print(arr[com])

2
바위

# 함수

In [118]:
def my_hello():
    return ('Hello')

def my_mello(name):
    print(f'Hello {name}')

ans = my_hello()     # hello 반환
print(ans) 

print(my_hello())

print(my_hello)      # my_hello() 함수의 객체 주소 확인   

aa = my_hello        # aa라는 함수를 새로 정의
aa()                 # aa가 있는 곳의 함수를 실행하세요

my_mello('홍길동')   # hello 홍길동
my_hello == my_mello

Hello
<function my_hello at 0x0000020C67912AF0>
Hello
Hello 홍길동

False